
<div class="text-center">
  <% if @flag.nil? %>
    <%= @msg %>
  <% end %>
</div>
<div class="row">
  <div class="col-xs-3 well center-block">
    <%= bootstrap_form_for @user,
      :url => {:action => 'create'},:html => {:class => "text-center"} do |f| %>
        <%= f.text_field :user_id,:label => "ID" %>

        <%= f.text_field :name,:label => "ユーザー名" %>

        <%= f.email_field :email,:label => "メールアドレス" %>

        <%= f.select :region ,@region_arraty,:label => "都道府県" %>

        <%= f.password_field :password,:label => "パスワード" %>

        <%= f.password_field :password_confirmation,:label => "確認パスワード" %>

        <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</div>
