<%= render :partial => 'layouts/header' %>
<div class="row">
  <div class="col-md-1 col-md-offset-1 container bg-info">
    <div class="user_name">
      <label> Name: </label>
      <%= link_to session[:user_name],profile_index_url(user_id: session[:user_id]) %>
    </div>
    <div>
      <label>@</label>
      <%= session[:user_id] %>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-3 container_fluid bg-info">
    <% @time_line.each do |t| %>
      <div>
        <% disp_id = "@" + t.user_id %>
        <%= link_to disp_id,profile_index_url(user_id: t.user_id) %>
      </div>
      <div>
        <%= t.content %>
      </div>
    <% end %>
  </div>
</div>
