<%= render :partial => 'layouts/loginhead' %>
<div class="text-center err_msg">
  <% if @err_msg %>
    <%= @err_msg %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well ">
      <%= bootstrap_form_for @user, 
             :url => {:action => 'create'},:html => {:class => 'form-horizontal text-center'} do |f| %>                        
        <%= f.text_field :user_id,:label => "ID" %>
        <%= f.password_field :password,:label => "パスワード" %>
        <%= f.submit "Log In" %>
      <% end %>
    </div>
  </div>
</div>


